.Cart header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.Cart .cart-item {
    display: flex;
    margin-bottom: 1rem;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.363);
}

.Cart .cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    object-fit: cover;
    object-position: center;
}

.Cart .item-details h3 {
    margin: 0;
}

.cart .flex{
    display: flex;
    flex-wrap: wrap;
}
.disNone{
    display: none;
}

.Cart .total {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.363);
    padding: 15px;
    max-height: 150px !important;
    position: relative ;
   bottom: 0;
}
.Cart .total button{
width: 100%;
}